fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
joblib
scikit-learn
pandas
dnspython
email-validator
requests
httpx
psycopg2-binary
psycopg[binary]
supabase
pyotp
qrcode[pil]
python-dotenv
apscheduler
